# This is a basic workflow to help you get started with Actions

name: CI

env:
  TZ: Asia/Shanghai

# Controls when the action will run. 
on:
  schedule:
    - cron: "*/5 * * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  triggers:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          ref: master
      
      # Runs a set of commands using the runners shell
      - name: Notify Order
        run: 
            bash notify.sh
